.cabecalho {
  background-color: rgb(25, 118, 210);
  box-shadow: 1px 1px 10px gray;
  color: white;
  margin: 0 auto;
  max-width: 725px;
}

.cabecalho p {
  padding: 5px 20px;
  text-align: right;
}

.links-navegacao {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.links-navegacao a {
  color: white;
  padding: 5px 15px;
  text-decoration: none;
}
