.conteudo-editar-perfil {
  margin: 0 auto;
  max-width: 725px;
  padding: 10px;
}

.titulo-editar-perfil {
  margin: 40px 0;
  text-align: center;
}

.botao-salvar-perfil {
  text-decoration: none;
}
