.conteudo-profile {
  margin: 0 auto;
  max-width: 725px;
  padding: 10px;
}

.conteudo-profile label {
  display: block;
  margin: 20px 0;
}

.conteudo-profile p {
  background: whitesmoke;
  border-bottom: 2px solid gray;
  border-radius: 3px 3px 0 0;
  flex-grow: 1;
  padding: 5px;
}

.descricao {
  display: flex;
  flex-wrap: wrap;
}

.titulo-profile {
  margin: 40px 0;
  text-align: center;
}

.botao-editar-perfil {
  text-decoration: none;
}
